<p id="notice"><%= notice %></p>

<p>
  <strong>記録</strong>
</p>

<p>
  <strong>時間</strong>
  <%= @record.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>内容</strong>
  <%= @record.text%>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', aspirations_path %>