<div class="contents row">
  <div class="content_post">
    <div class="more">
      <ul class="more_list">
      <% if user_signed_in? && current_user.id == @aspiration.user_id %>
        <li>
          <%= link_to '編集', edit_aspiration_path(@aspiration.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', aspiration_path(@aspiration.id), method: :delete %>
        </li>
      <% end %>
      </ul>
    </div>
    <p><%= @aspiration.detail %></p>
    <span class="name">
      期日 <%= @aspiration.start_time %>
    </span>
  </div>
</div>
<div class="diary">
  <% if user_signed_in? && current_user.id == @aspiration.user_id %>
    <%= link_to '日記をかく', new_record_path %>
  <% else %>
    <%="日記"%>
  <% end %>
</div>
<div class="contents row">
  <div class="content_post">
    <div class="more">
      <ul class="more_list">

      
      </ul>
    </div>
    <p><%= @aspiration.detail %></p>
    <span class="name">
      記入日 <%= @aspiration.start_time %>
    </span>
  </div>
</div>
<%#= month_calendar events: @records do |date, records| %>
  <%#= date.day %>

  <%# records.each do |record| %>
    <%#div>
      <%#= link_to record.text, record %>
    <%#/div>
  <% end %>
<%# end %>