<div class="contents row">
  <div class="content_post">
    <div class="more">
      <ul class="more_list">
      <% if user_signed_in? && current_user.id == @aspiration.user_id %>
        <li>
          <%= link_to '編集', edit_aspiration_path(@aspiration.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', aspiration_path(@aspiration.id), method: :delete %>
        </li>
      <% end %>
      </ul>
    </div>
    <p><%= @aspiration.title%></p>
    <span class="name">
    </span>

  </div>
</div>

<div class="contents row">
  <div class="content_post">
    <div class="more">
      <ul class="more_list">
        <li>
          <%#= link_to '詳細', show_record_path(@record.id), method: :get %>
        </li>
      </ul>
    </div>
    <p><%= @aspiration.detail %></p>
    <span class="name">
    </span>
  </div>
</div>

<div class="diary">
  <% if user_signed_in? && current_user.id == @aspiration.user_id %>
    <%= link_to '日記をかく', new_record_path %>
  <% else %>
    <%="日記"%>
  <% end %>
</div>

<div class="contents row">
<%# if @aspiration.id == @record.aspiration_id %>
  <% @record.each do |record| %>
    <div class="content_post">
      <div class="more">
        <ul class="more_list">
          <li>
            <%= link_to '詳細', record_path(record.id), method: :get %>
          </li>
        </ul>
      </div>
      <p><%= record.text %></p>
      <span class="name">
      記入日 <%= record.start_time.strftime("%Y-%m-%d" ) %>
      </span>
    </div>
  <% end %>
<%# end %>
</div>